body {
	font-family: "Times New Roman", "Source Han Sans CN","Noto Sans SC", "幼圆";
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	background-image: url(../image/Title_and_background/background.jpg);
	background-repeat: repeat;
	color: #FFFFFF;
}
h1 {
	font-family: "Times New Roman", "黑体", "Source Han Sans CN", "新宋体";
	font-size: 36px;
	font-weight: 600;
	color: #FFFFFF;
}
#Fixed #Text {
	overflow: scroll;
}
h2 {
	font-family: "Times New Roman", "黑体", "Source Han Sans CN", "新宋体";
	font-size: 30px;
	font-weight: 600;
	color: #FFFFFF;
}
